<div class="carousel-container">
  <div class="carousel-action-container" *ngIf="showPreviousBtn">
    <button class="round-icon" (click)="scrollLeft()">
      <fa-icon [icon]="carretLeft"></fa-icon>
    </button>
  </div>
  <div class="list-container">
    <div class="carousel-item-list" #carouselContainer>
      <!-- <cdk-virtual-scroll-viewport orientation="horizontal" itemSize="10">
        <ng-container *cdkVirtualFor="let item of items">
          <ng-container *ngTemplateOutlet="templateItem; context: {ctx:item}"></ng-container>
        </ng-container>
      </cdk-virtual-scroll-viewport> -->

      <div class="carousel-item" *ngFor="let item of items" #carouselItem>
        <ng-container *ngTemplateOutlet="templateItem; context: {ctx:item}"></ng-container>
      </div>
    </div>
  </div>


  <div class="carousel-action-container" *ngIf="showNextBtn">
    <button class="round-icon right" (click)="scrollRight()">
      <fa-icon [icon]="carretRight"></fa-icon>
    </button>
  </div>

</div>
