@import '../../../scss/variables/_index';

$album-card-max-width: 190px;
$action-button-width: 48px;
$action-button-heigth: 48px;

// TODO
.square-card-container {
  max-width: $album-card-max-width;

  .square-cover {
    position: relative;
  }

  .square-detail {
    margin-top: 8px;
  }
}
