@import '../../../scss/variables/_index';

$album-card-max-width: 190px;
$action-button-width: 48px;
$action-button-heigth: 48px;

// TODO
.square-card-container {
  max-width: $album-card-max-width;

  .square-cover {
    position: relative;
    .overlay-area {
      position: absolute;
      left: 0;
      right: 0;
      background-color: $background-overlay-panel;
      opacity: 0.9;
      top: 0;
      bottom: 0;
      display: flex;

      .action-button-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 8px;
        justify-content: center;
        align-items: center;
        .action-button {
          width: $action-button-width;
          height: $action-button-heigth;
          border: none;
          overflow: hidden;
          background: transparent;
          transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1),
            background 200ms cubic-bezier(0.4, 0, 0.2, 1);
          cursor: pointer;
        }
      }
      .divider {
        align-self: center;
        background: transparent;
        border: 1px solid $color-text-primary;
        height: 50px;
        width: 1px;
      }
    }
  }

  .square-detail {
    margin-top: 8px;
  }
}
