<app-square-card [item]="item">
  <ng-container cover>
    <a href="#"
       class="album-cover-link">
      <img [src]="item.img"
           alt="album-cover-image" />
    </a>
  </ng-container>
  <ng-container detail>
    <div class="primary-label">
      <span>{{item.name}}</span>
    </div>
    <div class="secondary-label">
      <span>{{item.type}} •
        <ng-container *ngIf="item.artist">
          {{item.artist}}
        </ng-container>
        <ng-container *ngIf="item.totalTracks">
          {{item.totalTracks}} Songs
        </ng-container>
      </span>
    </div>
  </ng-container>
</app-square-card>
