@import '../../styles/label-value.scss';

$album-card-height: 220px;
$album-card-max-width: 400px;
$album-card-min-width: 220px;

// TODO
.album-card-container {
  min-width: $album-card-min-width;
  max-width: $album-card-max-width;
  margin-right: 24px;

  .album-cover {
    height: 100%;

    .album-cover-link {
      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .album-simple-detail {
    margin-top: 8px;
  }
}
