@import '../../../scss/variables/_index';

$album-card-max-width: 190px;

// TODO
.round-card-container {
  max-width: $album-card-max-width;
  margin-right: 24px;

  .round-cover {
    overflow: hidden;
    border-radius: 50%;
    display: flex;
  }

  .round-detail {
    margin-top: 8px;
    text-align: center;
  }
}
