@import '../../../scss/variables/_index';

$album-card-max-width: 190px;
$color-primary: $color-text-primary;
$color-secondary: $color-text-secondary;

// TODO
.round-card-container {
  max-width: $album-card-max-width;
  margin-right: 24px;

  .round-cover {
    border-radius: 100px;
    overflow: hidden;
    width: 200px;
    height: 200px;
    position: relative;
  }

  .round-detail {
    margin-top: 8px;
    text-align: center;
  }
}
