<div class="top-image">
  <img src="assets/images/header_bg.jpg" />
  <div class="overlay"></div>
</div>

<h1>Today's hits</h1>
<app-carousel></app-carousel>

<h1>Listen again</h1>
<app-carousel></app-carousel>

<h1>Good times</h1>
<app-carousel></app-carousel>

<h1>Recommended music video's</h1>
<app-carousel></app-carousel>

<h1>New releases</h1>
<app-carousel></app-carousel>

<h1>Cool vibes</h1>
<app-carousel></app-carousel>

<h1>Instant energy</h1>
<app-carousel></app-carousel>

<h1>Deep focus</h1>
<app-carousel></app-carousel>

<h1>Live performances</h1>
<app-carousel></app-carousel>

<h1>Fresh new music</h1>
<app-carousel></app-carousel>

<h1>New video's</h1>
<app-carousel></app-carousel>

<h1>Beast mode</h1>
<app-carousel></app-carousel>

<h1>Easy evening</h1>
<app-carousel></app-carousel>
