<div class="top-image">
  <img src="assets/images/header_bg.jpg" />
  <div class="overlay"></div>
</div>
test
<div class="content">
  <ng-container *ngFor="let group of playlists">
    <h1>{{group.group}}</h1>
    <div style="margin-bottom:56px;">
      <app-album-card *ngFor="let item of group.items" [albumCoverUrl]="item.img" [albumTitle]="item.name" albumType="Playlist"
                      [additionalInfo]="item.creator" style="display:inline-block;"></app-album-card>
    </div>
  </ng-container>
</div>
