<div class="top-image">
  <img src="assets/images/header_bg.jpg" />
  <div class="overlay"></div>
</div>
<div class="content">
  <ng-container *ngFor="let group of playlists">
    <h1>{{group.group}}</h1>

    <div style="margin-bottom:56px;">
      <app-carousel [items]="group.items"
                    [templateItem]="tmpl">
      </app-carousel>
    </div>
  </ng-container>
</div>


<ng-template #tmpl
             let-item="ctx">
  <app-album-card [albumCoverUrl]="item.img"
                  [albumTitle]="item.name"
                  albumType="Playlist"
                  [additionalInfo]="item.creator"></app-album-card>
</ng-template>
