<div class="top-image">
  <img src="assets/images/header_bg.jpg" />
  <div class="overlay"></div>
</div>
<div class="content">
  <ng-container *ngFor="let item of chart$ | async">
    <ng-container [ngSwitch]="item.type">
      <app-album-card *ngSwitchCase="'album'"
                      [item]="item"></app-album-card>
      <app-artist *ngSwitchCase="'artist'"
                  [artist]="item"></app-artist>
      <app-album-card *ngSwitchCase="'playlist'"
                      [item]="item"></app-album-card>
      <!-- <app-song *ngSwitchCase="'song'"></app-song> -->
      <app-album-card *ngSwitchCase="'song'"
                      [item]="item"></app-album-card>
    </ng-container>

  </ng-container>
</div>
