<div class="menu-container">
  <div class="logo">
    <img src="assets/images/music-logo.png" />
    <span>RDMusic</span>
  </div>
  <div class="center-content">
    <ul class="menu-list">
      <li class="menu-item">
        <a class="menu-item-link"
           [routerLink]="['/home']"
           routerLinkActive="router-link-active">Home</a>
      </li>
      <li class="menu-item">
        <a class="menu-item-link"
           [routerLink]="['/hotlist']"
           routerLinkActive="router-link-active">Hotlist</a>
      </li>
      <li class="menu-item">
        <a class="menu-item-link"
           [routerLink]="['/library']"
           routerLinkActive="router-link-active">Library</a>
      </li>
      <li class="menu-item">
        <!-- TODO search icon -->
        <a class="menu-item-link search">
          <fa-icon [icon]="faSearchIcon"></fa-icon>Search
        </a>
      </li>
    </ul>
  </div>
  <div class="login-user-container">

  </div>
</div>
