// everything about sizes: height, weight, ...

// Menu top bar
$height-topbar: 64px;

// Album Cards
$album-card-min-width: 220px;
$album-card-height: 220px;
$album-card-max-width: 400px;

// Dialog panel
$dialog-panel-heigth: 370px;
$dialog-panel-width: 640px;
