<div class="artist-container">
  <a href="#"
     class="artist-link">
    <div class="artist-cover"
         appOverlay
         (toggleOverlay)="toggleOverlay($event)">
      <ng-container *ngIf="show">
        <app-overlay></app-overlay>
      </ng-container>
      <img [src]="artistUrl"
           alt="artist-image" />
    </div>
  </a>
  <div class="artist-info">
    <div class="primary-label">
      <a href="#">
        <span>{{artistName}}</span>
      </a>
    </div>
    <div class="secondary-label">
      <span>{{followers | readableNumber}} followers</span>
    </div>
  </div>
</div>
