<div class="artist-container">

  <div class="artist-cover"
       appOverlay
       (toggleOverlay)="toggleOverlay($event)">
    <ng-container *ngIf="show">
      <app-overlay [item]="artist"></app-overlay>
    </ng-container>
    <img [src]="artist.img"
         alt="artist-image" />
  </div>

  <div class="artist-info">
    <div class="primary-label">
      <a href="#"
         class="artist-link">
        <span>{{artist.name}}</span>
      </a>
    </div>
    <div class="secondary-label">
      <span>{{followers | readableNumber}} followers</span>
    </div>
  </div>
</div>
