@import '../../scss/variables/_index';

$animation-duration: 0.4s;

.overlay-container {
  display: flex;
  flex-direction: column;
  background-color: $background-overlay-panel;
  height: $dialog-panel-heigth;
  width: $dialog-panel-width;
  padding: 24px;
  border-color: $overlay-border-color;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;

  .overlay-header {
    h2 {
      font-weight: 500;
      color: $color-text-primary;
    }
  }

  .overlay-content {
    flex: 5;
    display: flex;
    flex-direction: column;

    @mixin label-active() {
      font-size: 0.75rem;
      transform: translateY(-25px);
    }

    .form-field {
      display: block;
      margin-bottom: 16px;

      &--is-active {
        .form-field__control {
          &::after {
            border-bottom: 2px solid $overlay-active-color;
            transform: scaleX(150);
          }
        }
        .form-field__label {
          color: $overlay-active-color;
          @include label-active();
        }
      }
      &--is-filled {
        .form-field__label {
          @include label-active();
        }
      }
    }
    .form-field__label {
      display: block;
      font-size: 1.2rem;
      font-weight: normal;
      color: $color-text-primary;
      left: 0;
      margin: 0;
      padding: 30px 0;
      position: absolute;
      top: 0;
      transition: all $animation-duration;
      width: 100%;
    }
    .form-field__control {
      overflow: hidden;
      position: relative;
      width: 100%;

      &::after {
        border-bottom: 2px solid $overlay-border-color;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        transform: scaleX(0);
        transition: all $animation-duration;
        width: 1%;
      }
    }
    .form-field__input,
    .form-field__textarea {
      appearance: none;
      background: transparent;
      border: 0;
      border-bottom: 1px solid #999;
      color: $color-text-primary;
      display: block;
      font-size: 1.2rem;
      margin-top: 24px;
      outline: 0;
      padding: 0 12px 10px 0px;
      width: 100%;
    }
    .form-field__textarea {
      height: 150px;
    }
  }

  .overlay-actions {
    display: flex;
    justify-content: flex-end;
  }
}
